 <% if @project.errors.any?%>
  <div id="error_explanation">
    <h2>
      <% pluralize(@project.errors.count, "error") %>
      Revisa nuevamente los siguientes campos:
    </h2>
    <ul>
      <% @project.errors.full_messages.each do |msg|%>
        <li><%= msg%></li>
      <% end %>
    </ul>
  </div>
<%else%>
 <h1>Proyecto Guardado con éxito</h1>
<%end%>
 <hr><button  onclick="history.back()" class="btn btn-primary btn-lg">Volver</button>